@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Libre+Baskerville:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #03045e;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.navbar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Libre Baskerville", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  width: 100%;
  box-shadow: 0 0 4px #ffd95a50;
  color: #f9f6f2;
}

.subheading {
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  color: #f9f6f2;
  font-weight: 400;
  line-height: 32px;
  width: 100%;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f6f2;
  padding: 32px;
  border-radius: 12px;
  min-width: 600px;
  box-shadow: -4px 4px 0px #ffd95a60;
}

form {
  font-family: "Belanosima", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  width: 100%;
  color: #2f387b;
}

form p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

form .divider {
  font-size: 20px;
  line-height: 16px;
  font-weight: 400;
  width: 30%;
  text-align: center;
  opacity: 0.8;
}

form .input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

form .input-container input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  outline: none;
  border: none;
  box-shadow: 0 0 2px #2f387b;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #2f387b;
}

form .input-container input:-webkit-autofill,
form .input-container input:-webkit-autofill:hover,
form .input-container input:-webkit-autofill:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 2px #2f387b, 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #2f387b !important;
}

form .radio-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.form-button {
  border-radius: 8px;
  background-color: #f9f6f2;
  border: 2px solid #2f387b;
  color: #2f387b;
  padding: 12px 24px;
  text-align: center;
  width: 100%;
  font-family: "Belanosima", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 12px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.form-button:hover {
  background-color: #2f387b;
  color: #f9f6f2;
  font-weight: 400;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  background-color: #11111110;
  width: 100%;
  color: #2f387b;
  border: 1px solid #2f387b50;
  font-family: "Belanosima", sans-serif;
  font-size: 24px;
  font-weight: 600;
  display: none;
}

.output .result {
  font-size: 28px;
  font-weight: 400;
}

.reset-btn {
  font-family: "Belanosima", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #2f387b;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #2f387b;
  cursor: pointer;
  padding-bottom: 2px;
  transition: all 200ms ease-in-out;
  display: none;
}

.reset-btn:hover {
  color: #2f387b90;
  border-color: #2f387b90;
}
